@import "tailwindcss";

:root {
  --slate-bg: var(--color-slate-50);
  --slate-light: var(--color-slate-100);
  --slate-med: var(--color-slate-300);
  --slate-dark: var(--color-slate-500);
  --slate-shadow: var(--color-gray-400);
  --slate-border: var(--color-slate-300);
  --gray-border: var(--color-gray-300);
  --text-color: var(--color-black);
  --button-default: var(--color-sky-500);
  --button-light: var(--color-sky-300);
  --button-dark: var(--color-sky-800);
}

@variant dark {
  :root {
    --slate-bg: var(--color-slate-700);
    --slate-light: var(--color-slate-500);
    --slate-med: var(--color-slate-700);
    --slate-dark: var(--color-slate-900);
    --slate-shadow: var(--color-slate-800);
    --slate-border: var(--color-slate-600);
    --gray-border: var(--color-gray-600);
    --text-color: var(--color-slate-200);
  }
}

@theme {
  --color-bg: var(--slate-bg);
  --color-light: var(--slate-light);
  --color-med: var(--slate-med);
  --color-dark: var(--slate-dark);
  --color-shadow: var(--slate-shadow);
  --color-border: var(--gray-border);
  --color-border-light: var(--slate-border);
  --color-text: var(--text-color);
  --color-button: var(--button-default);
  --color-button-light: var(--button-light);
  --color-button-dark: var(--button-dark);
  --spacing-xs: calc(var(--spacing) * 0.5);
  --spacing-sm: calc(var(--spacing) * 2);
  --spacing-md: calc(var(--spacing) * 4);
  --spacing-lg: calc(var(--spacing) * 6);
  --spacing-xl: calc(var(--spacing) * 8);
}

@layer base {
  html, body {
    @apply bg-bg text-text [-ms-overflow-style:none] scrollbar-none [&::-webkit-scrollbar]:hidden;
  }

  select {
    @apply appearance-none border border-border-light p-sm rounded-2xl text-text bg-bg outline-none focus:border-2 w-full;
  }

  textarea {
    @apply border border-border-light p-sm rounded-2xl text-text bg-bg outline-none focus:border-2 w-full resize-none;
  }

  input:not([type="file"]) {
    @apply border border-border-light p-sm rounded-2xl text-text bg-bg outline-none focus:border-2 w-full;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer components {
  .card {
    @apply rounded-2xl h-full min-h-100 p-sm;
    @apply border-t border-border;
    @apply shadow-lg shadow-shadow;

    &>div {
      @apply flex flex-col gap-md h-full;

      & .card-title {
        @apply flex justify-between font-thin text-2xl tracking-wider p-md;
      }
      
      & .card-body {
        @apply grid text-sm tracking-wide;
      }
  
      & .card-footer {
        @apply flex justify-between mt-auto items-center tracking-wide p-md;
      }
    }
  }

  .reversal-checkbox {
    @apply appearance-none size-5 border border-border rounded relative;
    @apply bg-white checked:bg-red-500 after:border-white;
    @apply checked:after:block after:content-[''] after:absolute after:hidden after:left-1.5 after:top-0.5 after:w-1.5 after:h-2.5 after:border-r-2 after:border-b-2 after:rotate-45;
  }
    
  .stock-number-input {
    @apply flex;

    & input {
      @apply rounded-none rounded-l-2xl;
    }

    & button {
      @apply rounded-r-2xl bg-button hover:bg-button-light border-border p-2 font-bold;
    }
  }

  .badge {
    @apply flex justify-between gap-sm ps-sm pe-sm rounded-full items-center;

    &.success {
      @apply text-emerald-700 border-emerald-700 bg-emerald-200 border;
    }
  }

  .form-grid {
    @apply grid grid-rows-2 gap-md p-md;

    & > [class*="-row"] {
      @apply grid grid-cols-2 gap-md;
      
      & > .form-section .card .card-body *:not(.stock-number-input, .badge) {
        @apply grid gap-lg;
      }

      & > .form-section .card .card-body *:has(> .badge) {
        @apply grid grid-cols-7 gap-sm pt-md;
      }

      & > .form-section .card .card-body *.badge {
        @apply max-w-25;
      }

      & > .form-section .card .card-body .additional-info {
        @apply grid gap-md;
      }
    }
  }

  .filter-bar {
    @apply grid gap-md p-md bg-bg text-center z-40 transition-all duration-500;

    &.horizontal {
      @apply fixed top-xl w-full grid grid-cols-6 gap-md shadow-md shadow-shadow;

      &.show {
        @apply top-30;
      }

      &> input:first-child {
        @apply md:h-10 mt-auto;
      }

      & .toggle {
        @apply p-0.5;
        
        &::after {
          @apply content-['...'] absolute bottom-0 left-0 right-0 cursor-pointer;
        }
      }
    }
  }

  .btn {
    @apply flex border border-border rounded-lg cursor-pointer;
    @apply self-center text-center items-center align-middle justify-center;
    
    &.btn-xs {
      @apply p-xs text-xs pl-1;
    }
    
    &.btn-sm {
      @apply p-sm text-sm;
    }
    
    &.btn-md {
      @apply p-md;
    }
    
    &.btn-lg {
      @apply p-lg text-lg;
    }
    
    &.btn-xl {
      @apply p-xl text-xl;
    }

    &.skinny {
      padding-top: calc(var(--spacing) / 2);
      padding-bottom: calc(var(--spacing) / 2);
      border-radius: var(--spacing-xs);
    }
  }
}